<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.countryside_culture.mapper.activityMapper" >
  <resultMap id="BaseResultMap" type="com.countryside_culture.entity.activity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="endtime" property="endtime" jdbcType="VARCHAR" />
    <result column="eorganizer" property="eorganizer" jdbcType="VARCHAR" />
    <result column="starttime" property="starttime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="kind" property="kind" jdbcType="INTEGER" />
    <result column="hits" property="hits" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.countryside_culture.entity.activity" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, endtime, eorganizer, starttime, status, picture, kind, hits
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectid" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select *
    from activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="showall" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select *
    from activity
    ORDER BY endtime DESC
  </select>
  <select id="showhot" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select *
    from activity
    where hits>100 and status="正在进行"
    ORDER BY endtime DESC
  </select>
  <select id="showdoing" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select *
    from activity
    where  status=#{status}
    ORDER BY endtime DESC
  </select>
  <update id="update" parameterType="com.countryside_culture.entity.activity" >
    update activity
    set title = #{title,jdbcType=VARCHAR},
      starttime = #{starttime,jdbcType=VARCHAR},
      eorganizer = #{eorganizer,jdbcType=VARCHAR},
      endtime = #{endtime,jdbcType=VARCHAR},
      hits = #{hits,jdbcType=INTEGER},
      picture = #{picture,jdbcType=VARCHAR},
      kind = #{kind,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>