<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.countryside_culture.mapper.newsMapper" >
  <resultMap id="BaseResultMap" type="com.countryside_culture.entity.news" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="publish_time" property="publishTime" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="is_hot" property="isHot" jdbcType="INTEGER" />
    <result column="is_publish" property="isPublish" jdbcType="INTEGER" />
    <result column="click_num" property="clickNum" jdbcType="INTEGER" />
    <result column="exam_status" property="examStatus" jdbcType="INTEGER" />
    <result column="kind" property="kind" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.countryside_culture.entity.news" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, author, publish_time, picture, is_hot, is_publish, click_num, exam_status, 
    kind, remark
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="show" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select *
    from news
    where is_publish=1
    ORDER BY publish_time DESC
    LIMIT #{amount}
  </select>
  <select id="showall" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select *
    from news
    where is_publish=1
  </select>
  <select id="selectOne" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select *
    from news
    where id = #{id,jdbcType=INTEGER}
  </select>
<update id="update" parameterType="com.countryside_culture.entity.news" >
  update news
  set title = #{title},
  author = #{author},
  publish_time = #{publishTime},
  picture = #{picture},
  is_hot = #{isHot},
  is_publish = #{isPublish},
  click_num = #{clickNum},
  exam_status = #{examStatus},
  kind = #{kind},
  remark = #{remark}
  WHERE id=#{id}
</update>
</mapper>