<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.countryside_culture.mapper.reviewMapper" >
  <resultMap id="BaseResultMap" type="com.countryside_culture.entity.review" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="vid" property="vid" jdbcType="INTEGER" />
    <result column="rname" property="rname" jdbcType="VARCHAR" />
    <result column="plname" property="plname" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="VARCHAR" />
    <result column="like_num" property="likeNum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.countryside_culture.entity.review" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, pid, vid, rname, plname, picture, time, like_num, status
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectvid" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select *
    from review
    where vid = #{vid,jdbcType=INTEGER} and status=1 and pid=0
    ORDER BY time DESC
  </select>
  <select id="selectpid" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select *
    from review
    where pid = #{pid,jdbcType=INTEGER} and status=1
    ORDER BY time DESC
  </select>
  <select id="all" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select *
    from review
    where status=1
  </select>
  <select id="selectid" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select *
    from review
    where id = #{id,jdbcType=INTEGER} and status=1
  </select>
  <insert id="insert" parameterType="com.countryside_culture.entity.review" >
    insert into review (id, uid, pid, 
      vid, rname, plname, 
      picture, time, like_num, 
      status, content)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{vid,jdbcType=INTEGER}, #{rname,jdbcType=VARCHAR}, #{plname,jdbcType=VARCHAR}, 
      #{picture,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{likeNum,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <update id="update" parameterType="com.countryside_culture.entity.review" >
    update review
    set uid = #{uid,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      vid = #{vid,jdbcType=INTEGER},
      rname = #{rname,jdbcType=VARCHAR},
      plname = #{plname,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      like_num = #{likeNum,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>