<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.countryside_culture.mapper.userinfoMapper" >
  <resultMap id="BaseResultMap" type="com.countryside_culture.entity.userinfo" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="user_real_name" property="userRealName" jdbcType="VARCHAR" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="last_login_time" property="lastLoginTime" jdbcType="VARCHAR" />
    <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, password, username, phone, user_real_name, nickname, last_login_time, last_login_ip, 
    email, picture, status
  </sql>

  <select id="checkLogin"  resultMap="BaseResultMap" >
        select * from userinfo
        where username = #{username} and password = #{password}
  </select>
  <select id="select"  resultMap="BaseResultMap" >
        select * from userinfo
        where user_id=#{id}
  </select>
  <select id="all"  resultMap="BaseResultMap" >
        select * from userinfo
        WHERE nickname!=#{nickname}
  </select>
  <insert id="register" parameterType="com.countryside_culture.entity.userinfo" >
    insert into userinfo (user_id, password, username, email,status)
    values (#{userId,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
       #{email,jdbcType=VARCHAR},#{status,jdbcType=INTEGER}
      )
  </insert>
  <update id="update" parameterType="com.countryside_culture.entity.userinfo" >
    update userinfo
    set password = #{password,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      user_real_name = #{userRealName,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=VARCHAR},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>